* {
    margin: 0;
    padding: 0;
}

body {
    background: #F8F6F6;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.vacFinder {
    background: url(./iconmonstr-compass-4.svg) no-repeat;
    padding-left: 30px;
    width: 165px;
    height: 30px;
    background-size: 21px 17px;
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-family: 'Montserrat';
}

h1 {
    font-size: 20px;
    margin: 10px 0 25px 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #5C4C4C;
}

.inputGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #5C4C4C;
    margin-bottom: 5px;
}

input {
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.13);
    width: 260px;
    max-width: 100%;
    border: 1px solid #BCBFC6;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 16px;
}

.inputCC {
    margin-bottom: 15px;
}

.expDate,
.cvv {
    width: 128px;
}

.formGroup {
    margin-bottom: 30px;
}

.submitContainer {
    background: rgba(196, 196, 196, 0.12);
    padding: 24px;
}

.createAccount {
    width: 260px;
    height: 42px;
    background: #B065FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #B065FB;
}

.cancelCreateAccount {
    width: 250px;
    height: 42px;
    border: none;
    color: #A49494;
    background-color: rgba(196, 196, 196, -3.88);
    font-family: 'Montserrat', sans-serif;
}

 ::placeholder {
    color: #AA9494;
    font-family: 'Roboto';
    font-size: 16px;
}


/*for tablets*/

@media (min-width: 700px) {
    .wrapper {
        padding: 40px;
    }
    .container {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-size: 35px;
    }
    .personalInformation,
    .paymentInformation {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    h2,
    label,
    .createAccount,
    .cancelCreateAccount {
        font-size: 20px;
    }
    .submitContainer {
        font-size: 25px;
        float: right;
    }
}

@media (min-width: 1000px) {
    .wrapper {
        width: 900px;
        margin-left: 250px;
    }
    h1 {
        font-size: 25px;
    }
    h2,
    label,
    .createAccount,
    .cancelCreateAccount {
        font-size: 15px;
    }
    .expDate,
    .cvv {
        display: block;
        width: 260px;
    }
}